<!DOCTYPE html>
<style>
form {
    margin:auto;
    width: 35%;
    }

.result {
    margin: auto;
    width: 35%;
    border: 1px solid #ccc;
}
</style>
<head>
    <title>Прогнозирование размеров сварного шва при электронно-лучевой сварке тонкостенных конструкций аэрокосмиеского назначения</title>
</head>
<body>

    <form action="{{url_for('main')}}" method="POST">
        <fieldset>
            <legend> Технические параметры сварки </legend>
            <div class="input iw">
                <label for="IW">Величина сварочного тока (<strong>IW</strong>):</label><br>
                <input name = "IW" type="number" 
                required>
            </div>
            <div class="input if">
                <label for="IF">Ток фокусировки электронного пучка (<strong>IF</strong>):</label><br>
                <input name = "IF" type="number" 
                required>
            </div>
            <div class="input vw">
                <label for="VW"></label>Скорость сварки (<strong>VW</strong>):</label><br>
                <input name = "VW" type="number" 
                    required>
            </div>
            <div class="input fp">
                <label for="FP"></label>Расстояние до поверхности образца (<strong>FP</strong>):</label><br>
                <input name = "FP" type="number" 
                    required>
            </div>
            <div class="submit button">
                <input type="submit" name="predict_btn" id="predict_btn" value="Получить прогноз">
            </div>

            {% if result %}
            <div class="result">
                <p><strong>Прогнозируемые размеры сварного шва:</strong></p>
                <p>Ширина шва: <strong>{{result.width}}</strong> мм</p>
                <p>Глубина шва: <strong>{{result.depth}}</strong> мм</p>
            </div>
            {% endif %}

        </fieldset>
    </form>
    
</body>